---
import Technologies from "@components/Technologies.astro";
import Layout from "@layouts/Layout.astro";
import tech from "@content/tech.json";
import SocialLink from "@components/SocialLink.astro";

const metadata = {
  title: "About - Spencer Kline",
  description:
    "This is my about me section, you can find more about me in this page.",
};
---

<Layout {...metadata}>
  <section class="pb-10 text-zinc-300">
    <h1 class="mb-6 text-3xl md:text-4xl text-white font-semibold">About me</h1>
    <p>
      The twisted path of my suburban existence led me from the manicured lawns of Hudson, Ohio to the echoing halls at Purdue, where I
      pursued a mirage of higher education. Armed with textbooks and a lacrosse stick, I plunged headlong into the intoxicating blend of
      computer science and atheltic prowess, a precarious balancing act that pushed the boundaries of sanity.
      <br/>
      Purdue became a crucible of ambition and chaos, maelstrom of late-night coding sessions and cross country lacrosse weekends. I danced
       on the razor's edge, fueled by a cocktail of caffiene and sleep deprivation, as I forged my identity in the fires of academia and sport.
       The world of alogrithms and data structures intermingled with the savage thrill of a door-step save on the lacrosse field.
      <br/>
       But the ivory towers could only hold me for so long. After years of late-night coding marathons and juggling athletic commitments, I found
       myself standing at the precipice of post-graduate life. Indianapolis beckoned--an urban jungle that promised a taste of the real world. I traded
       my textbooks for a suit and tie, and dove headfirst into the corporate labyrinth.
      <br/>
       Days turned into weeks, weeks into months, as the grind of the 9-to-5 cultivated my engineering skills. The concrete canyons of Indianapolis
       seemed devoid of life, a sterile landscape that mirrored the monotony of my job. The cubicle walls closed in, threatening to swallow me whole.
      <br/>
       But salvation awaited me amidst the majestic peaks of the Colorado Rockies. A chance to encounter with destiny led me to the summit of Mt. Bierstadt
       -- an expedition that would forever alter the course of my existence. The thing air kissed my lungs, and the sweeping vistas streatched before me,
       a tapestry of untamed wilderness. In that fleeting moment atop the world, I found clarity--a revelation that shook me to the core.
      <br/>
       Denver, the gateway to the wild west, called out to me like a siren song. I shed the shackles of my former life and embraced a new path,
       one that blended my technological prowess with the untamed spirit of the West. The graduate halls of cybersecurity management became my sanctuary
      --a realm where I could wield my coding skills as a weapon against the invisible threats of the digital realm.
     <br/>
      With the mountains as my backdrop, I delved deeper into the intricacies of cybersecurity, carving a niche for myeslf amidst the booming tech scene of Denver.
      Nextbite, a software engineering firm on teh cutting edge of innovation, became my canvas. I poured my soul into lines of code, transofmring abstract ideas into
      tangible digital market places of food commerce.
      <br/>
      Denver embraced me with open arms, a city teeming with creative energy and a vibrant undercurrent of rebellion. The scent of craft breweries and
      smokey herb wafter through the streets, mingling with the electric buzz of tech startups. I found my tribe--a band of misfits, united by a shared
      passion for pushing the boundaries of possibility.
      <br/>
      In this new chapter of my life, the shadows of Hudson, Ohio and the relentless pusuit of the American Dream seemed distant memories. I had forged a new path-- one of
      digital fortresses and untamed frontiers. The spirit of Hunter S. Thompson coursed through my veins as I embarked on this wild journey, armed with a keyboard
      and an unquenchable thirst for discovery. And so, the saga continues, as I navigate the treacherous waters of technology and the human spirit, forever chasing the elusive thrill of the unknown.
    </p>
    <br />
    <p>
      I enjoy exploring new langauges and libraries! My most recent professional experience is
      with Python using the FastAPI framework within AWS. However, through previous industry experience
      I have used Javascript(nodeJS)/Typescript and C# .NET as well. Additionally, academically I am very comfortable
      with C/C++. Always interested to discuss scalable architecture designs and solutions!
    </p>
    <br />
    <h1 class="mb-6 text-l md:text-4xl text-white font-semibold">
      Technologies
    </h1>
    <ul class="flex flex-col sm:grid sm:grid-cols-2 md:grid-cols-3 mt-7">
      {tech.map((tech) => <Technologies logo={tech.logo} text={tech.text} />)}
    </ul>
  </section>
</Layout>
